[Unit]
Description=Dunst notification daemon
Requires=x11.service
After=x11.service dwm.service
PartOf=x11.service

[Service]
Type=simple
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
ExecStart=/usr/bin/dunst
Restart=on-failure
RestartSec=1s
KillMode=process
TimeoutStartSec=10s

[Install]
WantedBy=graphical-session.target
