[Unit]
Description=Set wallpaper
Requires=x11.service
After=x11.service dwm.service
PartOf=x11.service
BindsTo=dwm.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority
Environment=RUNNING_UNDER_SYSTEMD=1
ExecStart=%h/.local/bin/wallpaper.sh

[Install]
WantedBy=graphical-session.target
